recursive-include src/ed/conf *
recursive-include src/ed/front_end/templates *
recursive-include src/ed/front_end/static/dist *
recursive-include src/ed/front_end/static/image *
recursive-include src/ed/front_end/static/icons *