{% extends 'dashboard/base.html' %}

{% block body %}
    <canvas id="electricity-used-total" width="200" height="50"></canvas>

    <script type="text/javascript">
        var ctx = document.getElementById('electricity-used-total');

        $.get( '/api/electricity/used/', function( data ) {
            var dataLabels = [],
                dataPoints = [];

            for (var i=0; i < data.length; i++) {
                dataLabels.push(data[i][0]);
                dataPoints.push(data[i][1]);
            }

            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dataLabels,
                    datasets: [
                        {
                            label: 'Electriciteitverbruik in kWh',
                            fill: false,
                            backgroundColor: 'rgba(255,205,86,0.4)',
                            borderColor: 'rgba(255,205,86,1)',
                            pointBorderColor: 'rgba(255,205,86,1)',
                            pointBackgroundColor: '#fff',
                            pointBorderWidth: 1,
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: 'rgba(255,205,86,1)',
                            pointHoverBorderColor: 'rgba(255,205,86,1)',
                            pointHoverBorderWidth: 2,
                            data: dataPoints
                        }
                    ]
                }
            });
        });
    </script>
{% endblock %}
