{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yeah</title>
</head>
<body>
    <div class="container-fluid" id="content"></div>
    <script src="{% static 'dist/vendor.js' %}"></script>
    <script src="{% static 'dist/app.js' %}"></script>
    <script>
        for (var n in window.exports) {
            window[n] = window.exports[n];
        }
        window.$ = window.jQuery;
        $(document).ready(function(){
            ReactDOM.render(
                React.createElement(Page, null),
                document.getElementById('content')
            );
        });
    </script>
</body>
</html>
