{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yeah</title>
</head>
<body>
    <div id="content"></div>
    <script src="{% static 'dist/vendor.js' %}"></script>
    <script src="{% static 'dist/app.js' %}"></script>
    <script>
        for (var n in window.exports) {
            window[n] = window.exports[n];
        }
        window.$ = window.jQuery;

        var data = [
            {
                'datetime': '2016-05-31 21:52:00',
                'value_increment': 120
            },
            {
                'datetime': '2016-05-31 21:53:00',
                'value_increment': 1234
            }
        ];
        $(document).ready(function(){
            ReactDOM.render(
                React.createElement(BaseBox, {'data': data}),
                document.getElementById('content')
            );
        });
    </script>
</body>
</html>
